/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}
/* --- Reset --- */

/* --- Variables --- */
:root {
    --bg-img-layer: -10;
    --nav-layer: 10;
    
}
/* --- Variables --- */

@font-face {
    font-family: GT-America;
    src: url(GT/GT-America-Standard-Light-Trial.otf);
  }

body, html {
    font-family: GT-America;
    font-size: large;

}

h2{font-size: 4vw;
    padding: 40px 0 40px 0;
    }

h3{font-size: 1.5em;
padding: 40px 0 30px 0;
font-weight: bolder;
}

nav{
background-color: #000;
color:white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 60px 25px 50px;
font-size: 1.3em;
}

#headerleft
{margin-left: 55px;}

#request
{color:white;
background-color: #191a1b;
border: 1px solid white;
border-radius: 10px;
font-size: 1.2em;
padding: 10px 20px 10px 20px;
margin-right: 10px;

}

#signin
{background-color:#4c5fd5;
color:white;
border-radius: 10px;
border: none;
font-size: 1.2em;
padding: 10px 20px 10px 20px;
margin-right: 60px;
}

.content-top {
   
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;
	flex-wrap: nowrap;
	background-color:#dadbf1;
    width: 100%;
    margin:0 auto;
    padding-bottom: 30px;
    padding-top: 60px;

}

#searchinput { 
font-size: 1.2em; 
display: flex;
justify-content: center;
height: 2.5em;
margin-bottom: 90px;
position: relative;
box-shadow: 20px 0 50px rgba(0, 0, 0, 0.1);
}

.bx-right-arrow-alt {
    z-index: 100;
    position: absolute;
    align-self: center;
    right:5%;
       }

#footer {
    background-color: #000;
    color: #fff;
}

input{
    border-radius: 7px;
  }

  .content-main {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 200px 0 200px;

  }

  .card
  {  flex: 50% 1 0;}

   .card p {font-size: 1.4em;}          

